body {
	margin: 0;
	padding: 0;
	height: 480px;
	overflow: hidden;
}
canvas {
	width: 100%;
	height: 100%;
}
#imissu {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 110px;
	width: 100%;
	height: 50px;
	text-align: center;
	font-family: sans-serif;
	display: none;
}