body {
}
canvas {
	width: 100vw;
	height: 100vh;
}
table {
	color: #fff;
	float: left;
	line-height: 27px;
	margin-left: 20px;
	width: 100px;
}
#imissu {
	position: absolute;
	top: 110px;
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-family: sans-serif;
	display: none;
}